.activePagination {
  background-color: rgb(234, 124, 205);
  width: 30px;
  text-align: center;
  border-radius: 1rem;
transition: background-color 1s;  
}
.activePagination:active{
    background-color: rgb(198, 71, 164);
}
